# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build files
*.out
*.test

# Go workspace
go.work
go.work.sum

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Build directories
/bin/
/dist/

# Temporary files
tmp/