* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibri Light", sans-serif;
}

/* Navigation-bar */
nav {
    width: 100%;
    height: 75px;
    background-color: gray;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 50px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

.menu li a:hover {
    color: #ccc;
}

.search {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.search input {
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    margin-right: 10px;
    font-size: 16px;
}

.search input:hover {
    border-color: #72a0d4;
}

.search button {
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 19px;
    cursor: pointer;
}

.search button:hover {
    background-color: #ccc;
}

