/* =========================
   Global reset & base
   ========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibri Light", sans-serif;
}


/* =========================
   Layout
   ========================= */
section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background:
            linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
            url("/frontend/assets/images/background.jpg") center / cover no-repeat;
}

.login-box {
    position: relative;
    width: 400px;
    height: 450px;

    background: gray;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* =========================
   Logo
   ========================= */
.login-logo {
    width: 160px;
    max-width: 70%;
    margin-bottom: 30px;

    display: block;
}

.login-logo {
    margin-top: 10px;
}


/* =========================
   Headings
   ========================= */
h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}


/* =========================
   Input fields
   ========================= */
.input-box {
    position: relative;
    width: 310px;
    margin: 30px;

    border-bottom: 2px solid #fff;
}

/* Input element */
.input-box input {
    width: 100%;
    height: 50px;

    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    outline: none;

    padding: 0 35px 0 5px;

    font-size: 1em;
    color: #fff;

    caret-color: #fff;
    cursor: text;

    position: relative;
    z-index: 2;

    appearance: none;
    -webkit-appearance: none;
}

/* Floating label */
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;

    transform: translateY(-70%);
    font-size: 1em;
    color: #fff;

    pointer-events: none;
    transition: 0.5s;
    z-index: 1;
}

/* Label animation */
.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label,
.input-box input:-webkit-autofill ~ label {
    top: -10px;
    font-size: 1em;
    font-style: italic;
}

/* Icon inside input */
.input-box .icon {
    position: absolute;
    right: 8px;
    top: 50%;

    transform: translateY(-50%);
    font-size: 1.2em;
    color: gray;

    pointer-events: none;
}


/* =========================
   Remember / Forgot
   ========================= */
.remember-forgot {
    width: 90%;
    margin: -15px 0 15px;

    display: flex;
    justify-content: space-between;

    font-size: 0.9em;
    color: #fff;
}

.remember-forgot label input {
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}


/* =========================
   Button
   ========================= */
button {
    width: 200px;
    height: 45px;
    margin: 10px auto;

    background: #fff;
    border: none;
    border-radius: 40px;

    font-size: 1em;
    font-weight: 500;
    color: #000;

    cursor: pointer;
}


/* =========================
   Register link
   ========================= */
.register-link {
    margin: 25px 0 10px;
    text-align: center;

    font-size: 0.9em;
    color: #fff;
}

.register-link p a {
    font-size: 1.2em;
    font-weight: 600;

    color: lightblue;
    text-decoration: none;
}

.register-link p a:hover {
    text-decoration: underline;
}

/* =========================
   Register form
   ========================= */
